.full-cal-times {
  width: 80px;
  display: grid;
  gap: 1px;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(17, 119px);
}
.cal-time {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  font-size: 10pt;
  margin-right: 10px;
}
