.calendar-wrap {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}
.dayname-row {
  width: 100%;
  display: flex;
}
.dayname-left {
  width: 100px;
}
.dayname-wrap {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(1, 50px);
  gap: 1px;
}
.dayname {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-left: 10px;
  font-size: 16pt;
}
.full-cal {
  display: flex;
  position: relative;
}
.full-cal-times {
  width: 100px;
  display: grid;
  gap: 1px;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(64, 25px);
}
.cal-time {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 10pt;
}
.full-cal-body {
  width: 100%;
  display: grid;
  gap: 1px;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(64, 25px);
  background: darkgray;
}
.full-cal-date-time-box {
  background: white;
}
