@import '../../variables';

.calendar-wrap {
  width: 850px;
  display: flex;
  flex-direction: column;
  position: relative;
  margin-bottom: 50px;
  top: 50px;
  left: 0;
  border: solid 1px $gray;
}
.dayname-row {
  width: 100%;
  display: flex;
}
.dayname-left {
  width: 80px;
}
.dayname-wrap {
  width: 100%;
  display: grid;
  gap: 1px;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(1, 59px);
  background: lighten($coolGray, 15%);
  border-left: 1px solid lighten($coolGray, 15%);
}
.dayname {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12pt;
  font-family: $Raleway;
  background: white;
}
.full-cal {
  display: flex;
  position: relative;
}

.full-cal-body {
  width: 100%;
  position: relative;
  border-top: 1px solid lighten($coolGray, 15%);
}

@media print {
  .calendar-wrap {
    top: 0 !important;
    -ms-transform: scale(0.9,0.9);
    transform: scale(0.9,0.9);
    page-break-after: always;
  }
}
