@import url('https://fonts.googleapis.com/css?family=Poppins:500,600,700&display=swap');

$font: 'Poppins', sans-serif;

$darkDark: #101112;
$darkMid: #212223;
$darkLight: #2c2d30;
$gray: #b9bdbf;
$blue: #3173db;
$purple: #8c60c8;
$red: #dd5242;
$yellow: #e9b443;
$green: #55bb8d;
