.calendar-front {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(204, 10px);
  position: absolute;
  top: 0;
  left: 0;
}

.cal-front-item {
  width: 85%;
  background-color: #1976d2;
  color: white;
  border-radius: 5px;
  padding: 5px;
}
