.calendar-front {
  width: 100%;
  display: grid;
  gap: 1px;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(65, 25px);
  position: absolute;
  top: 0;
  left: 0;
}

.cal-front-item {
  grid-column: 2;
  grid-row: 20 / span 3;
  background-color: steelblue;
  color: white;
  border-radius: 5px;
  padding: 5px;
}
